{
  "extends": [
    "airbnb/base",
    "plugin:flowtype/recommended",
    "plugin:ava/recommended",
  ],
  "parser": "babel-eslint",
  "plugins": [
    "flowtype",
    "ava",
    "prefer-object-spread",
    "import",
    "promise",
  ],
  "settings": {
    "flowtype": {
      "onlyFilesWithFlowAnnotation": true,
    },
  },
  "env": {
    "browser": true,
    "node": true,
  },
  "rules": {
    "import/extensions": [2, "never"],
    "import/no-unresolved": 0,
    "import/no-extraneous-dependencies": ["error", {
      "devDependencies": true,
      "optionalDependencies": false,
    }],

    "no-use-before-define": 0,
    "no-duplicate-imports": 0,
    "no-confusing-arrow": 0,
    "no-underscore-dangle": 0,
    "no-unused-vars": [2, {
      "args": "after-used",
      "argsIgnorePattern": "^_"
    }],
    "semi": ["error", "always"],
    "new-cap": [2, {"capIsNew": false, "newIsCap": true }],
    "arrow-parens": 0,
    "comma-dangle": ["error", "always-multiline"],
    "operator-linebreak": ["error", "after"],
    "no-plusplus": 0,

    "promise/param-names": 2,
    "promise/always-return": 2,
    "promise/catch-or-return": 2,
    "promise/no-native": 0,

    "prefer-object-spread/prefer-object-spread": 2,
  },
  "globals": {
  }
}
